@use "./variables" as *;

@mixin background{
  background-color: #D1ECF3;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.5);
  padding: 20px;
}
@mixin displayGap {
  display: flex;
  flex-direction: column;
}
