@import "./variables";

@mixin reset-box {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
@mixin HeaderFooter {
  height: 10vh;
  box-shadow: $box-shadow;
}

@mixin HeaderFooterUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin Li {
  list-style-type: none;
}
@mixin HeaderFooterA {
  color: black;
  text-decoration: none;
  text-align: justify;
}
@mixin HeaderFooterHover {
  font-weight: 900;
}
@mixin backgroundEven {
    background-image: url(https://www.stockvault.net/data/2022/10/16/295115/preview16.jpg);
}
@mixin backgroundOdd {
  background-image: url(https://www.stockvault.net/data/2022/10/16/295127/preview16.jpg);
}

@mixin title-section {
  margin: 0 auto 5vh auto;
  background-size: cover;
  padding: 30px;
}
@mixin section {
  width: 75%;
  border-radius: 20px;
  box-shadow: $box-shadow;
}
@mixin h2 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto 20px auto;
  font-family: $font-familyTitle;
}
@mixin h3 {
  font-size: 1.5em;
  margin: 10px auto 20px auto;
  text-align: center;
  font-family: $font-familyTitle;
}
@mixin ul-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 30px;
}
