@use "./mixin" as *;

.container{
    display: grid;
    grid-template-columns: calc(38% - 20px) calc(62% - 20px);
    grid-template-rows: 413px 173px 500px; 
    gap: 40px;
    padding: 0 20px 0 20px;
    @media (max-width: 1024px){
        @include displayGap;
        align-items: center;
        padding: 0;
    }
}

.container > * {
  min-height: 173px;
}