@use "./mixin" as *;
@use "./variables" as *;

.projects {
  @include backgroundBlue;
  @include slideShow-Projects-width;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  img {
    @include slideShow-Projects-width-img;
  }
  a{
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 900;
    color: black;
    @media (max-width: 1024px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      font-size: 8px;
    }
  }
  p {
    width: $width-project-img-p;
    line-height: 30px;
    text-align: justify;
    @media (max-width: 768px) {
      line-height: 10px;
    }
  }
}
