@import "./mixin";
.SlideShow {
    width: 90%;
    max-width: 1000px;
  @include backgroundBrown;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__move {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .arrow {
      width: 20px;
    }
    img {
      width: 80%;
      object-fit: contain;
    }
  }
  p {
    margin-top: 10px;
    font-size: 1.2em;
  }
  .dots {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    .dot {
    margin-inline: 5px;
    width: 10px;
    height: 10px;
    border: 3px solid black;
    border-radius: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &_selected {
      background-color: black;
    }
  }
  }
}


