@use "./mixin" as *;

.SlideShow {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  @media (max-width: 1024px) {
    order: 1;
  }
  .SlideShow__move{
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }
    .chevronLeft, .chevronRight{
    position: absolute;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  h3, p{
    position: absolute;  
    z-index: 1;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  h3{
    top: 7%;
  }
  p{
    bottom: 7%;
  }
  .chevronLeft{
    left: 5px;
  }
  .chevronRight{
    right: 5px;
  }
  .imgSlideShow{
    color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  }
  ul{
    display: flex;
    justify-content: center;
    gap:10px;
    list-style: none;
    .dot{
      border-radius: 50%;
      border: 2px solid black;
      width: 10px;
      height: 10px;
    }
    .dot_selected{
      background-color: black;
    }
  }
}
