@use "./mixin" as *;

.SlideShow {
  @include backgroundBrown;
  @include slideShow-Projects-width;
  &__move {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .arrow {
      width: 20px;
      object-fit: contain;
      cursor: pointer;
    }
    .imgSlideShow {
      width: 90%;
      max-width: 1000px;
    }
  }
  p {
    margin-top: 20px;
    font-size: 22px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .dots {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    .dot {
      margin-inline: 5px;
      width: 10px;
      height: 10px;
      border: 3px solid black;
      border-radius: 100%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      &_selected {
        background-color: black;
      }
    }
  }
}
