@use "./mixin" as *;

.SoftSkills {
  @include backgroundBlue;
  @include skills;
  ul {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: 1024px) {
      height: auto;
      justify-content: flex-start;
      gap: 10px;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
