@use "./mixin" as *;

.SoftSkills {
  grid-column: 2;
  min-height: 420px;
  ul {
    @include displayGap;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    height: 100%;
  }
}
