@use "./mixin" as *;
@use "./variables" as *;
.title {
  @include title-section;
  height: 83vh;
  background-image: url(https://www.stockvault.net/data/2022/10/16/295117/preview16.jpg);
  box-shadow: $box-shadow;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    height: 80vh;
  }
  @media (max-width: 768px) {
    height: 50vh;
  }
  img {
    margin: auto;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      width: 100px;
    }
  }
  &_text {
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
    font-family: $font-familyTitle;
    font-size: 70px;
    text-align: center;
    margin: 0;
    @media (max-width: 1024px) {
      font-size: 46px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  p {
    font-size: 40px;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 34px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }

  }
  span {
    font-size: 24px;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 22px;
    }
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
  }
}
